/*
  Card styles taken from "Making Avengers ID Cards in HTML and CSS"
  https://www.smashingmagazine.com/2018/06/avengers-id-card-html-css/
  Author: Kunal Sarkar
  Adjustments: Marcin Czarkowski
*/
body,
#root,
.container,
.async-status-wrapper,
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #091214;
}

.async-status-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: white;
  font-size: 1.6em;
}

.id-card-wrapper {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
  width: 100%;
}

.id-card {
  flex-basis: 100%;
  max-width: 30em;
  border: 1px solid #0eabca;
  color: #fff;
  padding: 1em;
  background-color: #0a2129;
  box-shadow: 0 0 3px 1px #12a0a0, inset 0 0 3px 1px #12a0a0;
}

.profile-row {
  display: flex;
}

.profile-row__avatar {
  flex-basis: 33.3%;
  position: relative;
  margin: 24px;
  align-self: center;
}

.avatar__image {
  max-width: 100%;
  border-radius: 50%;
  display: block;
  box-shadow: 0 0 4px 3px #0eabca;
}

.profile-row__desc {
  font-family: 'Orbitron', sans-serif;
  color: #ecfcfb;
  text-shadow: 0 0 4px #12a0a0;
  letter-spacing: 1px;
  padding: 1em;
  flex-basis: 66.6%;
}

.desc__name {
  font-size: 1.8em;
}
